.App {
  height: 100%;
}

#app-logo {
  cursor: pointer;
}

.app-container {
  max-width: 1000px;
  margin: auto;
}

#main-header {
  width: 100%;
  background-color: #1eb0b0;
  position: fixed;
  color: #fff;
}

#header-content {
  padding: 10px;
}

#main-content {
  height: 100%;
  background-color: #fff;
  padding-top: 48px;
}

.page {
  padding: 20px;
}

.secondary-text {
  font-size: 1.2em;
  font-weight: 400;
  color: #4c4b4b;
}

.bold-text {
  font-weight: 500;
}

.list-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-head h1 {
  margin: 0;
}

.job {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-dir {
  display: flex;
  flex-direction: column;
}

.job-col2 i.icon {
  margin-right: 15px;
  cursor: pointer;
}

#job-view {
  font-size: 1.2em;
}

#create-job .ui.form .field > label {
  font-size: 1.1em;
}
